/* css/style.css */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/* =========================
LOGIN PAGE
========================= */

.login-body{
    background:linear-gradient(to right,#2a7be4,#66b3ff);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-container{
    width:100%;
    height: 90vh;
    max-width:1100px;
    background:#efefef;
    display:flex;
    border-radius:40px;
    overflow:hidden;
}

.login-left{
    flex:1;
    padding:60px 40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.login-left h2{
    margin-bottom:10px;
}

.login-left p{
    color:#555;
    margin-bottom:20px;
}

.login-left input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #1abc9c;
    border-radius:5px;
    outline:none;
}

.forgot{
    display:block;
    text-align:right;
    font-size:12px;
    margin-bottom:20px;
    text-decoration:none;
    color:#666;
}

.login-left button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.login-left form button{
    background:#1abc9c;
    color:white;
}

.divider{
    display:flex;
    align-items:center;
    gap:10px;
    margin:25px 0;
}

.divider span{
    flex:1;
    height:1px;
    background:#aaa;
}

.google-btn{
    background:white;
    border:1px solid #1abc9c !important;
}

.signup-text{
    margin-top:30px;
    text-align:center;
}

.signup-text a{
    color:#1abc9c;
    text-decoration:none;
}

.login-right{
    flex:1.3;
}

.login-right img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 30px;
}

/* register css */


.register-body{
    background:linear-gradient(to right,#2a7be4,#66b3ff);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.register-container{
    width:98%;
    height: 95vh;
    max-width:1100px;
    background:#efefef;
    display:flex;
    border-radius:40px;
    overflow:hidden;
}

.register-right{
    flex:1;
    padding:60px 40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.register-right h2{
    margin-bottom:10px;
}

.register-right p{
    color:#555;
    margin-bottom:20px;
}

.register-right input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #1abc9c;
    border-radius:5px;
    outline:none;
}


.register-right button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.register-right form button{
    background:#1abc9c;
    color:white;
}

.divider{
    display:flex;
    align-items:center;
    gap:10px;
    margin:25px 0;
}

.divider span{
    flex:1;
    height:1px;
    background:#aaa;
}

.google-btn{
    background:white;
    border:1px solid #1abc9c !important;
}
.google-btn img{
    width: 20px;
    height: 20px;
   left: 30px;
}

.signup-text{
    margin-top:30px;
    text-align:center;
}

.signup-text a{
    color:#1abc9c;
    text-decoration:none;
}

.register-left{
    flex:1.2;
}

.register-left img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 30px;
}

.subtitle{
    margin-bottom:20px;
    color:#777;
    font-size:14px;
}

/* INPUT WITH ICON */
.input-group{
    position:relative;
    margin:12px 0;
}

.input-group i{
    position:absolute;
    left:12px;
    top:30%;
    transform:translateY(-50%);
    color:#2a7be4;
    font-size:16px;
}

.input-group input{
    width:100%;
    padding:12px 12px 12px 40px; /* left padding for icon */
    border:1px solid #ddd;
    border-radius:6px;
    outline:none;
}

/* button style improvement */
.auth-form button{
    width:100%;
    padding:12px;
    background:#22b38a;
    border:none;
    color:white;
    font-weight:bold;
    border-radius:6px;
    margin-top:15px;
    cursor:pointer;
}
